bory{
background-color: rgb(88, 88, 88);

}
header{
background-color: rgb(83, 4, 107);



}
footer{
background-color: rgb(138, 0, 80);




}
.cabecario_imagem{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
}



