body{
background-color: rgb(88, 88, 88);
}

header{
display: flex;
background-color: rgb(83, 4, 107);



}
footer{
background-color: rgb(138, 0, 80);




}
.cabecalho_imagem{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 25px;

}

.cabecalho_menu-lista{
    margin: 20px;
}

.cabecalho_menu-listaitem{
    display: inline;
    text-transform: uppercase;
    margin-left: 10px;

}

